{% extends 'layout/base.html' %} 
{% load static %}

{% block body %}
<div class="container my-reset-complete">
  <h2>Custom Password Reset Confirmation</h2>
  <form method="post" action="{% url 'password_reset_confirm' uidb64=uidb64 token=token %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Confirm Password Reset</button>
  </form>
</div>
  <style>
    .my-reset-complete {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f5f5f5;
      }
      
</style>
{% endblock %}
