{% extends 'layout/base.html' %} 
{% load static %}

{% block body %}
<div class="container my-reset-complete">
  <h2>Custom Password Reset</h2>
  <form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset Password</button>
  
  </form>
</div>
  <style>
    .my-reset-complete {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f5f5f5;
      }
      
</style>
{% endblock %}
