{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body">
               <form method="post" action="">
                  {% csrf_token %}
                  <div class="col-12">
                     <h5 class="form-title"><span>Formulaire Dimension Peche Artisanale</span></h5>
                  </div>
                  {% include 'includes/messages.html' %}	
                  <div class="row">
                     <div class="col-md-6">
                         <div class="form-group">
                             {{ form.TypePirogu.label_tag }}
                             {{ form.TypePirogu }}
                         </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                            {{ form.TypeProdPechPirog.label_tag }}
                            {{ form.TypeProdPechPirog}}
                        </div>
                    </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                         <div class="form-group">
                             {{ form.IntrantPech.label_tag }}
                             {{ form.IntrantPech}}
                         </div>
                     </div>
                      <div class="col-md-6">
                      <div class="form-group">
                          {{ form.MatUtilisePech.label_tag }}
                          {{ form.MatUtilisePech}}
                      </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          {{ form.SourcApprovis_Intran.label_tag }}
                          {{ form.SourcApprovis_Intran}}
                      </div>
                  </div>
                   <div class="col-md-6">
                      <div class="form-group">
                          {{ form.SourcApprovis_Materiel.label_tag }}
                          {{ form.SourcApprovis_Materiel}}
                      </div>
                  </div>
               </div>
                  <div class="row">
                     <div class="col-md-6">
                         <div class="form-group">
                             {{ form.annee.label_tag }}
                             {{ form.annee }}
                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="form-group">
                             {{ form.annee_modification.label_tag }}
                             {{ form.annee_modification }}
                         </div>
                     </div>
                  </div>

                  <button type="submit" class="btn btn-primary" style="background-color: #1da8dd;">Envoyer</button>
               </form>
            </div>
         </div>
      </div>
   </div>

   <!-- Tableau pour afficher les données -->
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
         </div>
      </div>
      {% include 'includes/messages.html' %}
      <div class="row">
         <div class="col-sm-12">
            <div class="card card-table">
               <div class="card-body">
                  <div class="table-responsive">
                     <table id="table_id" class="table table-hover table-center mb-0">
                        <thead>
                           <tr>
                              <!-- Entêtes du tableau -->
                              <th>Id</th>
                          
                             
                           <th>Nature de la pirogue </th>
                           <th>Type de produits pêchés par pirogue </th>
                           
                           <th>Intrant</th>
                           <th>Matériels utilisés</th>
                           <th>Sources d’approvisionnement en intrants (essence ou gazoil)</th>
                           <th>Sources d’approvisionnement en matériels</th>
                           
                           <th>Annee</th>
                           <th>Annee_modification</th>
                           
                              <th class="text-right">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for stud in dataObject %}
                           <tr>
                              <!-- Données de la boucle for -->
                              <td>{{ stud.id }}</td>
                              <td>{{ stud.TypePirogu}}</td>
                              <td>{{ stud.TypeProdPechPirog}}</td>
                              <td>{{ stud.IntrantPech }}</td>
                              <td>{{ stud.MatUtilisePech}}</td>
                              <td>{{ stud.SourcApprovis_Intran}}</td>
                              <td>{{ stud.SourcApprovis_Materiel}}</td>
                              <td>{{ stud.annee }}</td>
                              <td>{{ stud.annee_modification }}</td>	
                              <td class="text-right">
                                 <div class="actions">
                                    <a href="{% url 'peche:up_prodp' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                    <i class="fas fa-pen"></i>
                                    </a>
                                    <a href="{% url 'peche:de_prodp' stud.id %}" class="btn btn-sm bg-danger-light">
                                    <i class="fas fa-trash"></i>
                                    </a>
                                 </div>
                              </td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
             </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
