
{% extends 'layout/base.html'%}
{% load static %}

<title>{% block title%}documents{%endblock%}</title>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="{% static 'csss/style.css'%}"/>
    <header>
        {% include 'layout/partial/header.html' %}
    </header>
    {% block body  %}
<body>

    {% if request.user.is_authenticated %}
  <div class="page-wrapper" style="margin-left:0px;">
        <div class="content container-fluid">
           <div class="page-header">
              <div class="row align-items-center">
                 <div class="col">
             <h3 class="page-title">
                        
                    </h3>
                    <ul class="breadcrumb">

                    </ul>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-sm-12">
                 <div class="card">
                    <div class="card-body">
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}

                          <div class="row">
                             <div class="col-12">
                                <h5 class="form-title"><span>documents</span></h5>
                             </div>

                  <div class="col-12 col-sm-6">
                    <div class="form-group" >
                       <label> Titre</label>
                       {{ form.title }}
                    </div>
                 </div>
                 <div class="col-12 col-sm-6">
                    <div class="form-group">
                       <label>Mot Clés</label>
                       {{ form.mot_cle}}
                    </div>
                 </div>

                 <div class="col-12 col-sm-6">
                    <div class="form-group">
                       <label>Date</label>
                       <div>
                        {{ form.date_en}}
                       </div>
                    </div>
                 </div>





                 <div class="col-12 col-sm-6">
                    <div class="form-group" >
                       <label>Action</label>
                       {{ form.action}}
                    </div>
                 </div>
                 <div class="text-right">
                  <button type="submit" class="btn btn-success">Ajouter</button>
                </div>
                          </div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     {% endif%}


     <div class="page-wrapper" style="margin-left: 0px;">
        <div class="content container-fluid" style="margin-left: 0px; text-align: center;">
            <div class="page-header" style="margin-top: 30px;">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title" style="text-align: left;font-size: 40px;">
                            <span style="font-style: italic;">Tableau des </span>
                            <span style="color: #049ed9">documents</span>
                        </h3>
                        <ul class="breadcrumb">
    
                        </ul>
                    </div>
                </div>
            </div>
    
            <div class="row">
    
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-2">Default Datatable</h5>
                            <p class="card-text">
    
                            </p>
                        </div>
                         <div class="row">
                          
                            <div class="col-sm-12">
                                <form method="GET" class="mb-4">
                                    <div class="input-group" style="max-width: 400px; margin: 0 auto;margin-right:10px; display: flex;">
                                        <input type="text" name="q" class="form-control" placeholder="Recherche par titre ou mots-clés" style="top:19px;">
                                        <div class="input-group-append">
                                           <button type="submit" class="btn btn-success" style="top:11px">Rechercher</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                       </div>
    
                        <div class="card-body">
                            <div class="table-responsive">
                          
                                <table style="border: 2px solid black; width: 100%;">
                                    <tr style="border: 2px solid black;">
                                        <th style="border: 2px solid black;text-align: center; padding: 10px;">Numéro</th>
                                        <th style="border: 2px solid black; text-align: center;padding: 10px;">Titre</th>
                                        <th style="border: 2px solid black; text-align: center;padding: 10px;">Mots-clés</th>
                                        <th style="border: 2px solid black; text-align: center;padding: 10px;">Date de publication</th>
                                        <th style="border: 2px solid black; text-align: center;text-align: center; ">Liste des documents</th>
                                        {% if request.user.is_authenticated %}
                                            <th style="border: 2px solid black; text-align: center; padding: 10px;">Action</th>
                                        {% endif %}
                                    </tr>
                                    {% for atelier in stud %}
                                    <tr>
                                      
                                        <td style="border: 2px solid black;text-align: center; padding: 10px;">{{ atelier.id }}</td>
                                        <td style="border: 2px solid black; text-align: center;padding: 10px;">{{ atelier.title|truncatechars:15}}</td>
                                        <td style="border: 2px solid black; text-align: center;padding: 10px;">{{ atelier.mot_cle|truncatechars:30|safe}}</td>
                                        <td style="border: 2px solid black;text-align: center;padding: 10px; ">{{ atelier.date_en }}</td>
                                        <td style="border: 2px solid black; text-align: center;padding: 10px;"><a href="{{ atelier.action.url }}" class="btn btn-success"><i class="fas fa-download"></i> Télécharger</a></td>
                                        
                                        <td class="text-right" style="border : 2px solid black;">
                                            <div class="actions">
                                                {% if atelier.user == request.user %}
                                                <a href="{% url 'upda_doc' id=atelier.id %}" class="btn btn-sm bg-success-light mr-2">


                                                    <i class="fas fa-pen"></i> Edit
                                                </a>
                                                <a href="{% url 'delete_doc' id=atelier.id %}" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-trash"></i> Delete
                                                </a>
                                                {% endif %}
                                                
                                            </div>
                                        </td>
                                       
                                    </tr>
                                    {% endfor %}
                                    
                                </table>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center my-4">
                    {% if stud.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ stud.previous_page_number }}" tabindex="-1" aria-disabled="false">Previous</a>
                        </li>
                    {% endif %}
                    
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ stud.number }}</span>
                    </li>
                    
                    {% if stud.paginator.num_pages != stud.number %}
                        <li class="page-item">
                            <span class="page-link">of</span>
                        </li>
                        <li class="page-item">
                            <span class="page-link">{{ stud.paginator.num_pages }}</span>
                        </li>
                    {% endif %}
                    
                    {% if stud.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ stud.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            
    
            <style>
                .content {
                    text-align: center;
                }
    
                .card {
                    border: 1px solid #ccc;
                    border-radius: 30px;
                    margin: 10px;
                  
                background: linear-gradient( 180deg, #049ed9 15.63%, rgba(217, 217, 217, 0) 91.67% );
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }
    
                .card-body {
                    padding: 20px;
                }
            </style>
        </div>
    </div>
    
    {% endblock %}